* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.login__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 50px;
    padding: 25px;
    background-color: rgb(65, 62, 62);
}

.login__title {
    text-align: center;
    margin-top: 5;
    color: white;
    font-size: 26px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.login__block {
    position: relative;
}

.login__input {
    display: flex;
    outline: none;
    justify-content: center;
    font-size: 16px;
}

.login__popup {
    position: absolute;
    left: 25;
    color: #ff4040;
    display: flex;
    align-items: center;
    gap: 0.5;
}

.login__button {
    width: 200px;
    align-self: center;
}

.login__input_password {
    font-style: pass;
}

.event__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: rgb(182, 174, 174);
    background-color: rgb(6, 66, 66);
    height: 100vh;
}